<twig:Box
    color="{{ package.color }}"
    gradient="{{ package.gradient }}"
    titleTag="{{ titleTag }}"
>
    <twig:block name="logo">
        <img width="36" height="36" src="{{ asset('images/ux_packages/' ~ package.imageFilename) }}"
             alt="Image for the {{ package.humanName }} UX package">
    </twig:block>

    <twig:block name="title">
        <a href="{{ package.isRemoved ? package.migrationGuideUrl : url(package.route) }}" class="stretched-link text-body-text no-underline">{{ package.humanName }}</a>
        {% if package.isRemoved %}
            <twig:ux:icon name="flowbite:arrow-up-right-from-square-outline" class="Icon opacity-50" />
        {% endif %}
    </twig:block>

    <twig:block name="description">
        <div class="Wysiwyg">
            {{ package.description|markdown_to_html }}
        </div>
    </twig:block>
</twig:Box>
