{% extends 'ux_packages/package.html.twig' %}

{% block banner %}
    {{ include('_banner.html.twig', {color_back: '#4d61d6'}) }}
{% endblock %}

{% block package_header %}
    {% component PackageHeader with {
        package: 'toolkit',
        eyebrowText: 'Quickly build your Design System',
    } %}
        {% block title_header %}
            Build your Design System.
        {% endblock %}

        {% block sub_content %}
            With Toolkit comes “Kits”, a set of ready-to-use and fully-customizable UI Twig components and more, to help you to build your Design System.
        {% endblock %}
    {% endcomponent %}
{% endblock %}

{% block code_block_left %}
<twig:Terminal>
# Install the components you need...
php bin/console ux:install card
php bin/console ux:install button

# ... and find them in your <code>templates/components</code> folder!
tree templates/components
> templates/components
> ├── Button.html.twig
> ├── Card
> │   ├── Content.html.twig
> │   ├── Description.html.twig
> │   ├── Footer.html.twig
> │   ├── Header.html.twig
> │   └── Title.html.twig
> └── Card.html.twig
</twig:Terminal>
{% endblock %}

{% block code_block_right %}
    <twig:CodeBlock
        filename="templates/toolkit/_code_block_right.html.twig"
        :showFilename="false"
        height="auto"
    />
{% endblock %}

{% block demo_title %}UX Toolkit{% endblock %}

{% block demo_content %}
    {% apply markdown_to_html %}
    [toolkit-preview {"kit":"shadcn","height":"400px"}]
    {{ source ('toolkit/_code_block_right.html.twig') }}
    [/toolkit-preview]
    {% endapply %}
{% endblock %}

{% block package_install %}
    <div class="container-fluid container-xxl px-6 pt-6 md:px-12">
        <h2 class="ubuntu text-center mt-12" id="kits">Kits</h2>
        <p class="text-center">
            Kits are a set of ready-to-use and fully-customizable UI Twig components and more, to help you to build your Design System.<br>
        </p>

        <div class="mt-12 shadow-blur shadow-blur--rainbow" style="display: grid; gap: 2rem; grid-template-columns: repeat(auto-fill, minmax(min(100%, 420px), 1fr)); --shadow-opacity: 0.2">
            {% for kit_id, kit in kits %}
                <twig:Box color="{{ toolkit_color(kit_id) }}" titleTag="h2">
                    <twig:block name="logo">
                        <twig:ux:icon name="toolkit:{{ kit_id }}" alt="{{ kit.manifest.name }}" style="color: #fff; width: 50%; height: 50%;" />
                    </twig:block>
                    <twig:block name="title">
                        <a href="{{ path('app_toolkit_kit', {kitId: kit_id}) }}" class="stretched-link text-body-text no-underline">{{ kit.manifest.name }}</a>
                    </twig:block>
                    <twig:block name="description">
                        <p>{{ kit.manifest.description }}</p>
                    </twig:block>
                </twig:Box>
            {% endfor %}

            <twig:Box color="#24292f" titleTag="h2">
                <twig:block name="badge">
                    <span class="absolute text-black bg-[#e9c502] [transform:rotate(-10deg)] py-[3px] px-2 top-[10px] left-0 text-xl font-bold z-10">
                        🚧 <abbr title="Work In Progress">WIP</abbr>!
                    </span>
                </twig:block>
                <twig:block name="logo">
                    <twig:ux:icon name="flowbite:users-group-solid" style="color: #fff; width: 50%; height: 50%;" />
                </twig:block>
                <twig:block name="title">
                    <a href="https://github.com/topics/symfony-ux-toolkit" rel="external" class="stretched-link text-body-text no-underline" target="_blank">
                        Community Kits
                    </a>
                </twig:block>
                <twig:block name="description">
                    <p>
                        Crafted by the community, for the community.<br>
                        You can find them on GitHub with the <code>symfony-ux-toolkit</code> topic.
                    </p>
                </twig:block>
            </twig:Box>
        </div>
    </div>
{% endblock %}
